.start-2p {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* Estilos para el autocompletado del navegador */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    /* Mantiene el color de tu fuente retro */
    -webkit-text-fill-color: #F8FAFC !important;
    
    /* Crea un retraso infinito en el cambio de color de fondo del navegador */
    transition: background-color 5000s ease-in-out 0s;

    /* Asegura que el borde inferior de MoNtO aPp se mantenga visible */
    border-bottom: 2px solid #22D3EE !important;
    
}